/* -------------------------------------------------
   CONTENT
------------------------------------------------- */

#Index {
    background-image: url("/images/index/index_bg.jpg");
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding:0px;
	width: 800px;
	height: 573px;
}

/* -------------------------------------------------
   LINKS
------------------------------------------------- */
#video {
    position: absolute;
    width: 381px;
    height: 308px;
    top: 27px;
    left: 395px;
}

#linkplayB a {
  	position: absolute;
 	width: 225px;
  	height: 77px;
  	top: 230px;
  	left: 94px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;

  }

#linkplayB a i {
	visibility: hidden;
}

a#btnplayB:hover {
	background-image: url("/images/index/playnow.png");
	border: none;
}

#linkdl a {
  	position: absolute;
 	width: 84px;
  	height: 17px;
  	top: 307px;
  	left: 122px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  }

#linkdl a i {
	visibility: hidden;
}

a#btndl:hover {
	background-image: url("/images/index/download.png");
	border: none;
}

#linkfrontier a {
  	position: absolute;
 	width: 218px;
  	height: 167px;
  	top: 383px;
  	left: 38px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  }

#linkfrontier a i {
	visibility: hidden;
}

a#btnfrontier:hover {
	background-image: url("/images/index/frontier.png");
	border: none;
}

#linkitp a {
  	position: absolute;
 	width: 218px;
  	height: 167px;
  	top: 383px;
  	left: 555px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  }

#linkitp a i {
	visibility: hidden;
}

a#btnitp:hover {
	background-image: url("/images/index/itp.png");
	border: none;
}
