
/* -------------------------------------------------
   NEWSLETTER PAGES (/newsletter/feb2008.html, etc)
   These styles are independent of the rest of the website, and should not change after sent.
------------------------------------------------- */
    
    html, body {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url(/images/parchment.png);
        font-famiy: "Times New Roman", Times, serif;
        font-size: 16px;
    }
    
    .content {
        background-color: #FFFFFF;
        width: 570px;
        border: 1px solid #666666;
        padding: 15px;
        color: #000000;
        margin: 20px auto;
    }
    
    .content a {
        color: #760507;
    }
    
    .browser_link,
    .unsubscribe,
    .footer {
        font-famiy: Verdana,Arial,Helvetica,sans-serif;
        color: #636363;
        font-size: 13px;
    }
    
    .browser_link,
    .unsubscribe {
        text-align: right;
    }
    
    .unsubscribe {
        margin-bottom: 10px;
        margin-top: -20px;
    }
    
    h1 {
        margin: 0 0 10px 0;
    }
    
    .date {
        color: #760507;
        font-family: Georgia, "Times New Roman", serif;
        font-size: 16px;
        padding: 5px 0;
        text-align: right;
        border-top: 1px solid #DBDBDB;
    }
    
    .feature_section,
    .news_section {
        border-top: 1px solid #DBDBDB;
        margin-bottom: 20px;
    }
    
    h2 {
        color: #760507;
        font-family: Georgia, "Times New Roman", serif;
        font-size: 26px;
        margin: 20px 0;
    }
    
    p {
        line-height: 20px;
    }
    
    .feature_section h2 {
        font-size: 32px;            
    }
    
    .right_image {
        float: right;
        margin: 10px 0 10px 10px;
    }
    
    .section_link {
        text-align: right;
        font-size: 14px;
    }
    
    .footer_bar {
        margin: 10px 0;
    }
    
    .footer {
        line-height: 20px;
    }
    